// Since Tailwind CSS is being used, custom styles are minimal.

// Custom animations or styles that Tailwind doesn't cover can be included here.

nav {
    opacity: 0.95;
    transition: opacity 0.3s ease-in-out;
    // Increased opacity and added transition for smoother effect
}

@keyframes swirlingGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 15%;
    }

    100% {
        background-position: 0% 50%;
    }
}